NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1
NEXT_PUBLIC_AI_URL=http://localhost:8000
NEXT_PUBLIC_MAPBOX_TOKEN=your_mapbox_token_here
NEXT_PUBLIC_GMAPS_KEY=your_google_maps_key_here
NEXT_PUBLIC_APP_NAME=SwachhaNet
